:root {
  --color-one: #173f5f;
  --color-two: #20639b;
  --color-three: #3caea3;
  --color-four: #f6d55c;
  --color-five: #ed553b;
  --color-white: white;
}
header {
  background-color: var(--color-two);
}

main {
  background-color: var(--color-one);
  min-height: 80vh;
}
nav {
  padding: 1.2em;
  text-align: center;
  max-width: 80vw;
  margin: 0 auto;
}

nav a {
  color: red;
  display: inline-block;
  margin-bottom: 1em;
  padding: 0.5em;
  color: var(--color-white);
}
h1,
h2,
h3 {
  color: var(--color-white);
}
h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.5rem;
}
